* {
    margin: 0;
    padding: 0;
}

body {
    margin-top: 70px!important;
    background-image: url(/static/img/2.jpg);
    background-attachment: fixed;
    /*background-size: 100% 100%;*/
    background-size:cover;
    background-repeat:no-repeat;
}

ul {
    list-style-type: none!important; 
}

ul.navbar-right{
    margin-right: 0;
}



/*.img-container {
    border: 1px solid #e5e9ef;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    position: relative;
}*/

.usericon {
    border: 1px solid #e5e9ef;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    position: relative;
    margin: 0px 0px 0px 0px;
    float: left;
}


.footer {
    background: #232323;
    padding: 15px 0 5px;
    text-align: center;
    color: #888;
    font-size: 12px;
    line-height: 1;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 35px;
    display: block;
}


.main_body {
    padding-bottom:240px;
    margin-top:100px; 
}
/*footer底部*/
html {
  position: relative;
  min-height: 100%;
}

