{% extends 'base.html' %}

{% block title %}lranc | 注册{% endblock %}
{% block nav_home_active %}active{% endblock %}
{% block content %}
    <div class="containter">
        <div class="row">
            <div class="col-md-4 offset-md-4" id="loginform">>
                {% if not user.is_authenticated %}
                    <div class="card">
                        <h3 class="card-header">注册</h3> 
                        <div class="card-body">
                            <form action="" method="POST">
                                {% csrf_token %}
                                {% for field in reg_form %}
                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    {{ field }}
                                    <p class="text-danger">{{ field.errors.as_text }}</p>
                                {% endfor %}
                                <span id="tip" class="text-danger">{{ reg_form.non_field_errors }}</span>
                                <div class="clearfix"></div>
                                <input type="submit" value="注册" class="btn btn-primary float-right">
                            </form>
                        </div>
                    </div>    
                {% else %}
                    <span>已登录，跳转到首页...</span>
                    <script type="text/javascript">
                        window.location.href = '/';
                    </script>
                {% endif %}              
            </div>
        </div>
    </div>    
{% endblock %}
